.btn {
  position: relative;
  display: inline-flex;
  padding: 10px 20px;
  border: none;

  background-color: $primary;

  color: $white;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--red {
    background-color: $red;
  }
}
